<html>
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <title>PCify</title>
    </head>
    <body>
        <header>
            <div class="container">
                <a href="/"><img src="assets/logo.png" height="80" width="80" alt="logo" class="logo"></a>
                <nav>
                    <ul>
                        <li><a href="/amazon">Amazon</a></li>
                        <li><a href="#">NewEgg</a></li>
                        <li><a href="#">Canadian Computer Electronic (CCE)</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <h1><center>Amazon's PC</center></h1>
        <% i = 0 %>
        <% end_col = false %>
        <div class="columns">
        <% PCs.forEach((PC) => { %>
            <% if (i % 3 == 0 && i != 0) { %>
                </div>
                <% end_col = false %>
                <div class="columns">
            <% } %>
            <div class="card">
                <img src="<%= PC.image %>" width="125" height="150">
                <h5><%= PC.title %></h5>
            </div>
            <% ++i %>
        <% }); %>
        </div>
    </body>
</html>